* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: aqua;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 12px 24px;
    background: purple;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 17px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

li.checked {
    color: black;
    text-decoration: line-through;
}


li span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.edit-btn {
    margin-right: 10px; 
}

.button:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}