* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #5D4037;
}
::-webkit-scrollbar-track {
    background: white;
}
body {
    background: #A1887F;
}

/* NAVBAR */
.navbar {
    z-index: 10;
    width: 100%;
    background: #ffffff;
    height: 65px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.navbar .logo {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
    background: #ffffff;
    margin-left: 10%;
    height: 100px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar .logo img {
    margin: 20px 0px 5px 0px;
    width: 70px;
}
.navbar .nav-items {
    margin-right: 10%;
    width: 600px;
    height: 65px;
    display: flex;
}
.navbar .nav-items .list-nav {
    height: 65px;
    width:  400px;
    display: flex;
    justify-content: space-evenly;
    color: #ca0101;
}
.navbar .nav-items .list-nav a {
    text-decoration: none;
    font-size: 21px;
    align-self: center;
    color: #5D4037;
    font-weight: 600;
}
.navbar .nav-items .list-nav a:hover {
    color: #A1887F;
}
.navbar .nav-items form {
    width: 100%;
    display: flex;
}
.navbar .nav-items .search {
    height: 65px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .nav-items .search input[type="text"] {
    height: 32px;
    width: 250px;
    border: #5D4037 solid 1.5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    box-sizing: border-box;
}
.navbar .nav-items .search button {
    height: 32px;
    width: 30px;
    border: #5D4037 solid 1.5px;
    color: #5D4037;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -1.5px;
    box-sizing: border-box;
    background: #ffffff;
}
.navbar .nav-items .search button:hover {
    border: #000 solid 1.5px;
    color: #000;
}
/* navbar */

/* Satu */
.satu {
    padding-top: 65px;
}
.satu img {
    width: 100%;
    height: 100%;
}
/* satu */

/* DUA */
.dua {
    width: 100%;
    padding: 0px 10%;
    display: flex;
    justify-content: space-evenly;
}
.dua .apa {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.dua .apa .lingkar {
    text-decoration: none;
    width: 100px;
    height: 100px;
    background: #5D4037;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dua .apa .lingkar i {
    font-size: 40px;
    color: #ffffff;
}
.dua .apa h1 {
    margin-top: 30px;
    color: #5D4037;
}
/* dua */

/* TIGA */
.tiga .tengah {
    padding: 50px 100px;
    height: 300px;
    width: 100%;
    background: #5D4037;
    display: flex;
    box-sizing: border-box;
}
.tiga .tengah .kanan {
    width: 65%;
    display: flex;
}
.tiga .tengah .kanan img {
    max-height: 180px;
    margin: 0px 5px;
}
.tiga .tengah .kanan img:nth-child(1) {
    position: relative;
    bottom: 30px;
    right: 20px;
    z-index: 2;
}
.tiga .tengah .kanan img:nth-child(2) {
    position: relative;
    top: 40px;
    right: 100px;
    z-index: 1;
}
.tiga .tengah .kiri {
    width: 35%;
}
.tiga .tengah .kiri p {
    font-size: 30px;
    text-align: right;
    color: #ffffff;
}
/* tiga */

/* EMPAT */
.empat {
    width: 100%;
    padding: 7% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.empat h1 {
    color: #ca0101;
    color: #fff;
}
.empat .menuBS {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.empat .menuBS .card {
    margin: 30px 10px;
    padding: 5px;
    width: 250px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    color: #ca0101;
    color: #5D4037;
    background: #fff;
}
.empat .menuBS .card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.empat .menuBS .card img {
    width: 100%;
    height: 240px;
    border-radius: 15px;
}
.empat .menuBS .card h3 {
    margin: 5px;
    text-align: center;
}
.empat a.btn {
    margin-top: 20px;
}
/* empat */

/* LIMA */
.lima {
    width: 100%;
    padding: 7% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lima h1 {
    color: #ca0101;
    color: #fff;
}
.lima .menuBS {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.lima .menuBS .card {
    margin: 30px 10px;
    padding: 5px 40px;
    width: 250px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    color: #ca0101;
    color: #5D4037;
    background: #fff;
}
.lima .menuBS .card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.lima .menuBS .card h2 {
    margin: 5px;
    text-align: center;
}
.lima a.btn {
    margin-top: 20px;
}
/* lima */

/* FOOTER */
.footer {
    color: #ffffff;
    background: #5D4037;
    box-sizing: border-box;
}
.footer .logo {
    width: 300px;
    padding-left: 10%;
}
.footer .logo img {
    width: 100%;
}
.footer .info {
    margin-top: -40px;
    margin: 0px 10%;
    width: 80%;
    margin-bottom: 50px;
    border-top: #ffffff solid 2px;
    display: flex;
    justify-content: space-around;
}
.footer .info .card h1 {
    margin-top: 20px;
}
.footer .info .card p {
    margin: 5px 0px;
}
.footer .copyright {
    display: flex;
    padding: 20px;
    justify-content: center;
    background: #212121;
}
/* footer */

/*  *//*  *//*  *//*  *//*  *//*  *//*  */
.btn {
    text-decoration: none;
    color: #ffffff;
    background: #ca0101;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    background: #f11b1b;
}