.banner{
    background: url(RA1.avif);
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 20%;
}

.text-center {
    font-size: 30px;
    color: #A52A2A;
    position: center;
    padding: 0px 100px;
}


/* Styling untuk navbar dan dropdown */
.navbar {
    background-color: #333;
    overflow: hidden;
    display:
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar a:hover {
    background-color: #111;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}