* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Freeman', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(245, 170, 228);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    height: 40px;
    font-size: 17px;
    padding: 0 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: .3s;
}

select {
    background-color: #fff;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background: #b89c9c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    color: white;
    font-size: 16px;
}

button[type="submit"]:hover {
    background: #736969;
    transform: scale(1.05, 1);
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.login-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

.login-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: .3s;
}

::placeholder {
    font-weight: 500;
    color: #222;
}

.input-field:focus {
    width: 105%;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

#check {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section a {
    color: #555;
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #b89c9c;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    color: white;
    font-size: 16px;
}

.submit-btn:hover {
    background: #736969;
    transform: scale(1.05, 1);
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #000;
    font-weight: 600;
}