* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background: rgb(27, 16, 51);
}

.bungkus {
  margin: auto;
  width: 1100px;
  position: relative;
}
.logo a {
  font-size: 45px;
  font-weight: bold;
  float: left;
  color: #a34343;
}
.logo a span {
  color: #e9c874;
  font-size: 55px;
}
.logo a span.it {
  font-size: 45px;
}

.nav_bar {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 60px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: rgb(27, 16, 51, 0.9);
  z-index: 1;
}

a.btn {
  background: #e9c874;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: ease 0.5s;
}
a.btn:hover {
  background-color: #a34343;
  color: #e9c874;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav ul li a {
  color: #a34343;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 20px;
}
img.menu-detail {
  margin-top: 78px;
  margin-right: 50px;
  margin-left: 10px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
img.menu-detail-2 {
  margin-top: 130px;
  margin-right: 10px;
  margin-left: 50px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
img.menu-detail-3 {
  margin-top: 145px;
  margin-right: 50px;
  margin-left: 10px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
img.menu-detail-4 {
  margin-top: 145px;
  margin-right: 10px;
  margin-left: 50px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
img.menu-detail-5 {
  margin-top: 110px;
  margin-right: 50px;
  margin-left: 10px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.kolom {
  float: left;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.kolom .tlsn-a {
  font-size: 25px;
  font-weight: bold;
  margin-left: 12px;
}
.kolom .tlsn-b {
  font-size: 20px;
  margin: 15px 10px;
  text-align: justify;
  padding-right: 40px;
}
.kolom h2 {
  margin: 15px 10px;
  font-size: 50px;
  font-weight: bold;
  color: #a34343;
}
.kolom h2 span {
  color: #e9c874;
}

.tengah {
  text-align: center;
  width: 100%;
  margin-top: 25px;
}
.tengah .kolom2 p {
  text-align: center;
  width: 100%;
}
.list-menu {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
.card-menu {
  width: 15%;
  margin: 10px auto;
  transition: ease 0.4s;
  background: #f7c566;
  border-radius: 20px;
  border: #a34343 solid;
}
.card-menu p {
  color: #a34343;
}
.card-menu:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.card-paket {
  width: 10%;
  margin: 10px auto;
  background: #dc6b19;
  border: solid 5px#a34343;
  transition: ease 0.4s;
  border-radius: 20px;
}
.card-paket:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.card-paket img {
  width: 100px;
}
.card-paket img {
  border-radius: 20px;
  margin-top: 10px;
}
.card-paket p {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.card-menu img {
  width: 75%;
  border-radius: 50%;
}

.kolom2 {
  margin-top: 5px;
}

.kolom2 .tlsn-a {
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
}
.kolom2 h2 {
  margin: 15px 10px;
  font-size: 50px;
  font-weight: bold;
  color: #a34343;
}
.kolom2 h2 span {
  color: #e9c874;
}
a.btn-detail {
  background: #a34343;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

a.btn-detail:hover {
  background: #e9c874;
  color: #a34343;
  transition: 0.3s;
}
.card-menu p {
  margin: 10px 10px;
  font-weight: bold;
}
.foto-chef {
  width: 350px;
  border-radius: 20px;
  margin: 0px 50px;
  margin-top: 40px;
}
footer {
  background-color: #a34343;
  width: 100%;
}

.footer-container {
  margin-top: 100px;
  width: 100%;
}
.media-social {
  display: flex;
  justify-content: center;
}
.media-social a i {
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  color: white;
  transition: ease 0.5s;
}
.media-social a i:hover {
  color: #e9c874;
  transform: scale(1.2) translateY(-5px);
}

.nav-footer {
  margin: 30px 0;
}
.nav-footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.nav-footer ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3;
}
.nav-footer ul li a:hover {
  color: #e9c874;
  transition: 0.5s;
}

.footer-bottom {
  color: black;
  text-align: center;
}

.footer-bottom p {
  color: white;
}

.pesan {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.btn-pesan {
  display: inline-block;
  margin-top: 150px;
  padding: 10px 20px;
  background-color: #a34343;
  color: white;
  border-radius: 15px;
  transition: ease 0.4s;
}
.btn-pesan:hover {
  background-color: white;
  color: #a34343;
  transform: scale(1.2) translateY(-5px);
}
.kolom3 p {
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.kolom3 h2 {
  font-weight: bold;
  font-size: 40px;
  color: #a34343;
}
.kolom3 h2 span {
  color: #e9c874;
}
p .bio-chef {
  font-size: 10px;
}
