body {
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(cover.jpg);
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 0 20px;
}

h2 {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #eac29d;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

.box {
  width: 500px; 
  height: 500px;
  background-color: #f0f0f0; 
  border: 2px solid #333; 
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);  
  background-color: antiquewhite;
}